# build output
dist
build

# dependencies
node_modules/

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# Terraform
.auto.tfvars
.terraform.lock.hcl
.terraform

# Astro
.astro
