@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: "Geist Mono";
  src: url("../assets/fonts/GeistMono-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url("../assets/fonts/GeistMono-UltraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url("../assets/fonts/GeistMono-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url("../assets/fonts/GeistMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url("../assets/fonts/GeistMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url("../assets/fonts/GeistMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url("../assets/fonts/GeistMono-Black.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Geist Mono";
  src: url("../assets/fonts/GeistMono-UltraBlack.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@theme {
  --color-*: initial;
  --color-brand: #e65e5e;
  --color-brand-light: #ccc;
  --color-brand-mid: #666666;
  --color-brand-dark: #333;
  --default-font-family: "Geist Mono";
}

@layer utilities {
  .prose {
    color: inherit;
    --tw-prose-body: inherit;
    --tw-prose-headings: inherit;
    --tw-prose-lead: inherit;
    --tw-prose-links: inherit;
    --tw-prose-bold: inherit;
    --tw-prose-counters: inherit;
    --tw-prose-bullets: inherit;
    --tw-prose-quotes: inherit;
    --tw-prose-captions: inherit;
    --tw-prose-code: inherit;
    --tw-prose-pre-code: inherit;
    --tw-prose-pre-bg: inherit;
    @apply max-w-screen-lg;
  }
}

a,
a:visited,
a:active {
  @apply text-brand underline;
}

a:hover {
  @apply text-brand-mid;
}

body {
  @apply text-brand-dark;
}

h1,
h2 {
  @apply lowercase;
}

h1 {
  @apply text-3xl font-extralight;
}

.prose h1 {
  @apply text-4xl;
}

h2 {
  @apply text-2xl font-thin;
}

h3 {
  @apply text-sm font-semibold;
}

strong {
  @apply font-semibold;
}

@media (prefers-color-scheme: dark) {
  body {
    @apply bg-brand-dark;
    @apply text-brand-light;
  }
}

@media print {
  html {
    font-size: 67%;
  }
}
