<page-base>
<section class="m-12 flex flex-col items-center space-y-4 text-center">
  <img
    src="/logo.png"
    alt="blit.cc logo"
    width="256"
    height="256"
    class="mt-12 mb-8"
  />
  <h1><i18n-t>james cleveland</i18n-t></h1>
  <p class="text-sm"><i18n-t>james cleveland : senior full stack engineer</i18n-t></p>
  <p>
    <a :href="urls.cv"><i18n-t>cv-2025.01</i18n-t></a>
    /
    <a href="https://github.com/radiosilence" target="_blank" rel="noopener"
      ><i18n-t>github</i18n-t></a
    >
  </p>
</section>
</page-base>
