---
import Logo from "../components/logo.astro";
import Prose from "../components/prose.astro";
import Page from "../layouts/page.astro";
---

<Page>
  <section class="flex items-center flex-col mb-24 px-4 lg:px-0">
    <Prose>
      <a href="/">
        <Logo width={128} class="mt-12 mb-16" />
      </a>
      <slot />
    </Prose>
  </section>
</Page>
