---

---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>james cleveland : full stack / react native / devops</title>
    <!-- hi mum!!!! -->
    <style is:global>
      @font-face {
        font-family: "Geist Mono";
        src: url("../assets/fonts/GeistMono-Thin.woff2") format("woff2");
        font-weight: 100;
        font-style: normal;
      }

      @font-face {
        font-family: "Geist Mono";
        src: url("../assets/fonts/GeistMono-UltraLight.woff2") format("woff2");
        font-weight: 200;
        font-style: normal;
      }

      @font-face {
        font-family: "Geist Mono";
        src: url("../assets/fonts/GeistMono-Light.woff2") format("woff2");
        font-weight: 300;
        font-style: normal;
      }

      @font-face {
        font-family: "Geist Mono";
        src: url("../assets/fonts/GeistMono-Regular.woff2") format("woff2");
        font-weight: 400;
        font-style: normal;
      }

      @font-face {
        font-family: "Geist Mono";
        src: url("../assets/fonts/GeistMono-Medium.woff2") format("woff2");
        font-weight: 500;
        font-style: normal;
      }

      @font-face {
        font-family: "Geist Mono";
        src: url("../assets/fonts/GeistMono-Bold.woff2") format("woff2");
        font-weight: 700;
        font-style: normal;
      }

      @font-face {
        font-family: "Geist Mono";
        src: url("../assets/fonts/GeistMono-Black.woff2") format("woff2");
        font-weight: 800;
        font-style: normal;
      }

      * {
        @apply text-brand-dark;
      }

      @font-face {
        font-family: "Geist Mono";
        src: url("../assets/fonts/GeistMono-UltraBlack.woff2") format("woff2");
        font-weight: 900;
        font-style: normal;
      }

      a,
      a:visited,
      a:active {
        @apply text-brand underline;
      }

      a:hover {
        @apply text-brand-dark;
      }
    </style>
  </head>

  <body>
    <slot />
  </body>
</html>
