<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>james cleveland : full-stack / react native / devops</title>
    <!-- hi mum!!!! -->
    <link rel="stylesheet" type="text/css" href="/style/global.css" />
  </head>

  <body>
    <slot />
  </body>
</html>
