---
import CV from "../components/cv.mdx";
import Logo from "../components/Logo.tsx";
import Layout from "../layouts/Layout.astro";
import { initI18n } from "../i18n";

const locale = "en-GB";
await initI18n(locale);
---

<Layout>
    <section class="flex items-center flex-col mbe-24 px-4 lg:px-0">
        <article class="prose prose-sm">
            <a href="/">
                <Logo width={128} className="mbs-12 mbe-16" />
            </a>
            <CV />
        </article>
    </section>
</Layout>
