<!DOCTYPE html>
<html>
  <head>
    <title>James Cleveland : Polyglot Software Engineer & Photographer</title>
    <link rel="stylesheet" type="text/css" href="/style/global.css" />
  </head>

  <body>
    <img src="/assets/logo.png" class="logo" />
    <h1>404</h1>
    <p>That page does not exist.</p>
  </body>
</html>
