<!doctype html>
<html>
  <head>
    <title>james cleveland : full-stack / dev-ops</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@0;1&display=swap" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="/style/global.css" />
  </head>

  <body>
    <img src="/assets/logo.png" class="logo" />
    <h1>404!</h1>
    <p>That page does not exist.</p>
  </body>
</html>
