---
import Wrapper from "../layouts/wrapper.astro";
import { Content as CV } from "./assets/cv.md";
---

<Wrapper>
  <section class="flex items-center flex-col mb-24">
    <article
      class="prose prose-sm max-w-screen-lg prose-h2:text-2xl prose-h2:font-thin prose-h1:font-extralight prose-h1:text-4xl prose-h3:text-md">
      <CV />
    </article>
  </section>
</Wrapper>
