---
import Page from "../layouts/Default.astro";
import { Content as CV } from "./assets/cv.md";
---

<Page>
  <section class="flex items-center flex-col">
    <article class="prose prose-sm max-w-screen-lg">
      <CV />
    </article>
  </section>
</Page>
