---
import Wrapper from "../layouts/wrapper.astro";
import { Content as CV } from "./assets/cv.md";
---

<Wrapper>
  <section class="flex items-center flex-col">
    <article class="prose prose-sm max-w-screen-lg">
      <CV />
    </article>
  </section>
</Wrapper>
