<!doctype html>
<html>
  <head>
    <title>james cleveland : full-stack / dev-ops</title>

    <link rel="stylesheet" type="text/css" href="/style/global.css" />
  </head>

  <body class="flex flex-col items-center m-12">
    <img src="/assets/logo.png" class="logo w-[256px] mt-12 mb-16" />
    <h1 class="text-2xl mb-4">james cleveland : full-stack / dev-ops</h1>
    <a class="underline mb-4 text-lg" href="/assets/cv-2024.2.8.pdf">cv-2024.2.8.pdf</a>
    <a class="underline mb-4 text-lg" href="https://github.com/radiosilence">github</a>
  </body>
</html>
