<!DOCTYPE html>
<html>
  <head>
    <title>James Cleveland : Polyglot Full Stack Software Engineer</title>
    <link rel="stylesheet" type="text/css" href="/style/global.css" />
  </head>

  <body>
    <img src="/assets/logo.png" class="logo" />
    <h1>James Cleveland : Polyglot Full Stack Software Engineer</h1>
    <h3><a href="/assets/cv-2022.2.8.pdf">CV 2022.2.8 [pdf]</a></h3>
    <h3><a href="https://github.com/radiosilence">GitHub</a></h3>
  </body>
</html>
