---
import Logo from "../components/logo.astro";
import Page from "../layouts/page.astro";
---

<Page>
  <section class="flex flex-col items-center m-12 space-y-4 text-center">
    <Logo width={256} class="mt-12 mb-8" />
    <h1>james cleveland</h1>
    <span class="text-sm">full stack / react native / devops</span>
    <span>
      <a data-astro-prefetch href="/cv">cv-2025.01</a> / <a
        href="https://github.com/radiosilence"
        >github
      </a>
    </span>
  </section>
</Page>
